## ML Steps
Steps in Machine Learning
<ol type="num">
    <li>Import Data</li>
    <li>Clean the Data</li>
    <li>Splitting the Data into Training and Test sets</li>
    <li>Create a Model</li>
    <li>Train the Model</li>
    <li>Make Predictions</li>
    <li>Evaluate and Improve</li>
          
</ol>

### Basic Libraries
<ol type="num">Basic Libraries in machine learning
    <li>Numpy: Provides Multi-dimenssinal array </li>
    <li>Pandas: data analysis library which provides data frame</li> data frame is a 2D data structure similar to excel
    <li>Matplotlib: 2D plotting library for creating graphs and plots</li>
    <li>Scikit-Learn: provides common algorithms like decision tree, neural networks, etc.</li>
    <li>and others</li>
          
</ol>

#### Project of Video Game sales

In [2]:
import pandas as pd
data = pd.read_csv('datasets/vgsales.csv')
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
data.shape

(16598, 11)

In [4]:
data.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [5]:
data.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [ ]:
data.describe()

### Project #2 Music recommendation and predition

In [1]:
import pandas as pd
music_data = pd.read_csv('datasets/music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [ ]:
## Age 1 means Male, age 0 means Female
# Males between age 20 to 25 like Hiphop Misics, age between this range is expected to be predicted as Hiphop 
# Males between age 26 to 30 like Jazz Misics
# Males between age 31 to 37 like Classical Misics

# Females between age 20 to 25 like Dance Misics
# Females between age 26 to 30 like Acoustic Misics
# Females between age 31 to 37 like Classical Misics

### this is the overall thing the data shows
### we have to build a model which makes this prediction

#### Splliting the data into input and output

In [2]:
### the input is age and gender, the output is Genre
X = music_data.drop(columns=['genre']) ### it's an input which contains age and gende
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [3]:
y = music_data['genre'] #### it's an output
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

#### Building a model

In [5]:
#### Developing an algorithm, uing decision tree
from sklearn.tree import DecisionTreeClassifier ## importing a classifier

In [9]:
model = DecisionTreeClassifier()
model.fit(X, y) ### giving input and output sets

DecisionTreeClassifier()

#### Making prediction

In [11]:
prediction = model.predict([[21, 1]]) ### predict takes two dimensional arrays
### 21 is age and 1 is Male
prediction ### Males between age 20 to 25 like Hiphop Misics, this is expected to be predicted as Hiphop.

C:\Python 3.9.7\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

In [12]:
### making two predictions at a time
predictions = model.predict([[21, 1], [22, 0]]) ### Females betweeen 20 to 25 likes Dance, this is expected to be predicted as Dance
### 22 is age and 0 is Female
predictions

C:\Python 3.9.7\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

#### Caculating the accuracy of the model

In [20]:
### first, we have to split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### X_train and X_test are input variables for training and testing
### y_train and y_test are the output variables for training and testing

In [21]:
model.fit(X_train, y_train) ### training using training sets
predict = model.predict(X_test) #### predicting using testing set

In [24]:
### importing  accuracy metrics
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, predict) ### predict contains the actual output values, y_test contains the expected/predicted values
score

1.0

In [ ]:
### the accuracy shows 100%

In [46]:
### changing the test size to 40%
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)
model.fit(X_train, y_train)
predict = model.predict(X_test)
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, predict) ### predict contains the actual output values, y_test contains the expected/predicted values
score

0.75

In [ ]:
### the accuracy decreased ito 75 %

#### persisting models

In [51]:
### saving the traind model and loading the trained model to perfom predictions
from sklearn.externals import joblib
### joblib object has methods for saving the models
joblib.dump(model, 'music-recommender.joblib')

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Python 3.9.7\lib\site-packages\sklearn\externals\__init__.py)