In [4]:
import pandas as pd
import quandl 

df = quandl.get('WIKI/GOOGL')

print(df)

               Open     High      Low     Close      Volume  Ex-Dividend  \
Date
2004-08-19   100.01   104.06    95.96   100.335  44659000.0          0.0
2004-08-20   101.01   109.08   100.50   108.310  22834300.0          0.0
2004-08-23   110.76   113.48   109.05   109.400  18256100.0          0.0
2004-08-24   111.24   111.60   103.57   104.870  15247300.0          0.0
2004-08-25   104.76   108.00   103.88   106.000   9188600.0          0.0
...             ...      ...      ...       ...         ...          ...
2018-03-21  1092.57  1108.70  1087.21  1094.000   1990515.0          0.0
2018-03-22  1080.01  1083.92  1049.64  1053.150   3418154.0          0.0
2018-03-23  1051.37  1066.78  1024.87  1026.550   2413517.0          0.0
2018-03-26  1050.60  1059.27  1010.58  1054.090   3272409.0          0.0
2018-03-27  1063.90  1064.54   997.62  1006.940   2940957.0          0.0

            Split Ratio    Adj. Open    Adj. High     Adj. Low   Adj. Close  \
Date
2004-08-19          1.0    50.159839    52.191109    48.128568    50.322842
2004-08-20          1.0    50.661387    54.708881    50.405597    54.322689
2004-08-23          1.0    55.551482    56.915693    54.693835    54.869377
2004-08-24          1.0    55.792225    55.972783    51.945350    52.597363
2004-08-25          1.0    52.542193    54.167209    52.100830    53.164113
...                 ...          ...          ...          ...          ...
2018-03-21          1.0  1092.570000  1108.700000  1087.210000  1094.000000
2018-03-22          1.0  1080.010000  1083.920000  1049.640000  1053.150000
2018-03-23          1.0  1051.370000  1066.780000  1024.870000  1026.550000
2018-03-26          1.0  1050.600000  1059.270000  1010.580000  1054.090000
2018-03-27          1.0  1063.900000  1064.540000   997.620000  1006.940000

            Adj. Volume
Date
2004-08-19   44659000.0
2004-08-20   22834300.0
2004-08-23   18256100.0
2004-08-24   15247300.0
2004-08-25    9188600.0
...                 ...
2018-03-21    1990515.0
2018-03-22    3418154.0
2018-03-23    2413517.0
2018-03-26    3272409.0
2018-03-27    2940957.0

[3424 rows x 12 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3424 entries, 2004-08-19 to 2018-03-27
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Open         3424 non-null   float64
 1   High         3424 non-null   float64
 2   Low          3424 non-null   float64
 3   Close        3424 non-null   float64
 4   Volume       3424 non-null   float64
 5   Ex-Dividend  3424 non-null   float64
 6   Split Ratio  3424 non-null   float64
 7   Adj. Open    3424 non-null   float64
 8   Adj. High    3424 non-null   float64
 9   Adj. Low     3424 non-null   float64
 10  Adj. Close   3424 non-null   float64
 11  Adj. Volume  3424 non-null   float64
dtypes: float64(12)
memory usage: 347.8 KB

### 1. Regression
Regression is a method for understanding the relationship between independent variables or features and a dependent variable or outcome. Outcomes can then be predicted once the relationship between independent and dependent variables has been estimated

In [10]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]
df

              Adj. Open    Adj. High     Adj. Low   Adj. Close  Adj. Volume
Date
2004-08-19    50.159839    52.191109    48.128568    50.322842   44659000.0
2004-08-20    50.661387    54.708881    50.405597    54.322689   22834300.0
2004-08-23    55.551482    56.915693    54.693835    54.869377   18256100.0
2004-08-24    55.792225    55.972783    51.945350    52.597363   15247300.0
2004-08-25    52.542193    54.167209    52.100830    53.164113    9188600.0
...                 ...          ...          ...          ...          ...
2018-03-21  1092.570000  1108.700000  1087.210000  1094.000000    1990515.0
2018-03-22  1080.010000  1083.920000  1049.640000  1053.150000    3418154.0
2018-03-23  1051.370000  1066.780000  1024.870000  1026.550000    2413517.0
2018-03-26  1050.600000  1059.270000  1010.580000  1054.090000    3272409.0
2018-03-27  1063.900000  1064.540000   997.620000  1006.940000    2940957.0

[3424 rows x 5 columns]

In [11]:
### Defining relationship
## df['HL_PCT'] = Hign minus Low Percent
## PCT_chnage -s percent change ( old -new /old)
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100.0

df['PCT_chnage'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

In [13]:
df = df[['Adj. Close', 'HL_PCT', 'PCT_chnage', 'Adj. Volume']]
df

             Adj. Close    HL_PCT  PCT_chnage  Adj. Volume
Date
2004-08-19    50.322842  8.072956    0.324968   44659000.0
2004-08-20    54.322689  7.921706    7.227007   22834300.0
2004-08-23    54.869377  4.049360   -1.227880   18256100.0
2004-08-24    52.597363  7.657099   -5.726357   15247300.0
2004-08-25    53.164113  3.886792    1.183658    9188600.0
...                 ...       ...         ...          ...
2018-03-21  1094.000000  1.964351    0.130884    1990515.0
2018-03-22  1053.150000  3.254997   -2.487014    3418154.0
2018-03-23  1026.550000  4.082607   -2.360729    2413517.0
2018-03-26  1054.090000  4.619150    0.332191    3272409.0
2018-03-27  1006.940000  6.645878   -5.353887    2940957.0

[3424 rows x 4 columns]

In [14]:
forcast_clomun = 'Adj. Close'

In [ ]:
df.fillna(-99999, inplace=True) ## Filling Not A Number Values